#login {
    text-align: center;
}

#login h1 {
    text-align: center;
    display: block;
    width: 100%;
}

#login .checkbox {
    text-align: left;
}

#login .btn-success {
    width: 100%;
}

#forgotpass {
    padding: 15px 15px;
    width: 350px;
}

#register {
    padding: 15px 15px;
    width: 350px;
}
