.navbar-brand {
    display: block;
    overflow: hidden;
    background-color: #3b5998;
    width: 100%;
    height: 75px;
}

.navbar-brand a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    background-color: #3b5998;
}

.navbar-brand a:hover {
    background-color: #ddd;
    color: black;
}

.navbar-brand a.active {
    background-color: #ddd;
    color: white;
}